@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui;
    background-color:beige;
    z-index: 0;    
}

.class{
  background-color: gray;
  background-size: cover;
  padding: 100px 0 100px;
}
 .banner{
  width: 100%;
  height: 620px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  
 } 
 .banner-overlay{
  position: absolute;
    height: 620px;
    width: 100%;
    left: 0;
    right: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
  